:root {
    --white: hsl(100, 100%, 100%);
    --navy900: hsl(235, 46%, 20%);
    --navy200: hsl(236, 100%, 87%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(226, 43%, 10%);
    color: var(--white);
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    min-height: 100vh;
    margin: 4rem auto;
}

#dashboard, .card, .card-body, .card-title-row, 
.card-hours, #profile-header, #view-toggle {
    display: flex;
}

/*-- Dashboard and card layout --*/
#dashboard {
    flex-direction: column;
    gap: 1.5rem;
    margin: auto;
    padding: 1.5rem;
    width: 23.438rem;
}

.card {
    border-radius: 0.875rem;
    flex-direction: column-reverse;
    min-height: 10rem;
    overflow: hidden;
    position: relative;
}

/*-- Card elements --*/
.profile { background-color: var(--navy900); flex-direction: column;}
.work { background-color: hsl(15, 100%, 70%); }
.play { background-color: hsl(195, 74%, 62%); }
.study { background-color: hsl(348, 100%, 68%); }
.exercise { background-color: hsl(145, 58%, 55%); }
.social { background-color: hsl(264, 64%, 52%); }
.self-care { background-color: hsl(43, 84%, 65%); }

.card-icon {
    position: absolute;
    right: 1.5rem;
    top: -0.4rem;
    z-index: 0;
}

.card-body {
    background-color: var(--navy900);
    border-top-left-radius: 0.875rem;
    border-top-right-radius: 0.875rem;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.75rem 1.5rem;
    z-index: 1;
}

.card-title-row {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

h2 { font-size: 1.2rem; font-weight: 400; }
.menu-icon { fill: var(--navy200); }

.card-hours {
    align-items: center;
    font-size: 1.875rem;
    font-weight: 300;
    justify-content: space-between;
    width: 100%;
}

.previous-hours { color: var(--navy200); font-size: 0.875rem; }

/*-- Profile card elements --*/
#profile-header {
    align-items: center;
    background-color: hsl(246, 80%, 60%);
    border-radius: 1rem;
    gap: 1rem;
    padding: 2rem;
}

.profile img {
    border: 0.2rem solid var(--white);
    border-radius: 50%; 
    width: 4.5rem;
}

h1 {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: hsl(0, 0%, 80%);
}

h1 span { font-size: 1.5rem; color: var(--white);}

/*-- Button elements --*/
#view-toggle { gap: 2.5rem; margin: auto; }

button {
    background-color: transparent;
    border: none;
    color: hsl(236, 80%, 75%);
    font-family: 'Rubik', sans-serif;
    font-size: 1.063rem;
    font-weight: 300;
    height: 4rem;
    width: 4rem;
}

.toggle-button:active, .active { color: var(--white); }

/*-- Desktop Screen Size --*/
@media screen and (min-width: 48rem) {
    body { margin: 0rem auto; }
    body, .card-hours { display: flex; }
    
    #dashboard {
        display: grid;
        gap: 1.75rem;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto auto;
        grid-template-areas: 
        "profile work play study"
        "profile exercise social self-care";
        justify-content: center;
        width: auto;
    }

    /*-- Card elements --*/
    .work { grid-area: work; }
    .play { grid-area: play; }
    .profile { grid-area: profile; }
    .study { grid-area: study; }
    .exercise { grid-area: exercise; }
    .social { grid-area: social; }
    .self-care { grid-area: self-care; }

    .card { width: 15rem; min-height: 14rem; }
    .card-body { justify-content: space-between; height: 83%; }
    .card-body:hover { background-color:  hsl(235, 45%, 61%); }

    .card-body:hover, .menu-icon:hover, .toggle-button:hover { cursor: pointer; }
    .menu-icon:hover { cursor: pointer; fill: var(--white); }

    .card-hours {
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;
    }

    .current-hours { font-size: 3rem; font-weight: 300; }

    /*-- Profile card elements --*/
    #profile-header {
        flex-direction: column;
        gap: 2.5rem;
        padding: 2rem 1.75rem;
        height: 100%;
    }

    h1 span { font-size: 2.2rem; line-height: 2.8rem; }

    /*-- Button elements --*/
    #view-toggle { 
        flex-direction: column; 
        gap: 1.3rem;
        margin: 1.4rem 1.75rem 1.5rem;
    }
    
    button { 
        font-size: 0.938rem; 
        height: auto;
        text-align: left; 
    }

    .toggle-button:hover { color: var(--white); }
}